body{
  margin:0;

}
a {
  color:white;
  text-decoration: none;
  display:inline-block;
}
h1{
  font-size:45px;
  text-align:center;
  border-bottom:2px solid gray;
  margin:0px;
  padding:20px;
  background-image:url('4.jpg');
  background-repeat:no-repeat;
  background-size:cover;
}

@font-face{
  font-family:"HiMelody";
  src:url("Hi_Melody/HiMelody-Regular.ttf") format("truetype");
  font-style:normal;
  font-weight:normal;
}
#property{

}

li {
      padding:10px 10px 10px 10px;
      display:block;
    }
li .saw{
      font-family:HiMelody;
      font-size:20px;
      background-color:#1f75d9;
      border-bottom:5px solid #165115;
      border-radius:20px;
      padding:10px 10px 10px 10px;
      transition:all 0.1s;
      text-shadow: 0px -1px rgba(0, 0, 0, 0.44);
    }
li .saw:active{
  transform:translateY(3px);
  border-bottom:2px solid #f39;
}

h1 .saw::after{
  content:'';
  display:block;
  width:0;
  height:2px;
  background: #fff;
  transition: width .3s
}
h1 .saw:hover::after{
  width:100%;
  transition:width .3s
}
#grid{
  display:grid;
  grid-template-columns:170px 1fr
}
#grid ol{
  width:120px;
  border-right:2px solid gray;
  margin:0px;
  padding:20px;

}
#active{
  color:red;
}
#grid #property{
  padding-left:30px;
}
@media(max-width:800px){
  #grid{
    display:block;
  }
   #grid ol{
    border-right:none;
  }
   h1{
    border-bottom:none;
  }
