<!doctype html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CLLKMSYL76"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta property="og:title" content="CBJ_Home">
    <meta property="og:description" content="이 사이트 추천이요">
    <meta property="og:image" content="/images/220424.jpg">
    <title>CBJ_HISTORY_PAGE</title>


     <script>
       window.dataLayer = window.dataLayer || [];
       function gtag(){dataLayer.push(arguments);}
       gtag('js', new Date());

       gtag('config', 'G-CLLKMSYL76');
     </script>
     <link rel="stylesheet" href="/css/style.css">

</head>
<body>
 <h1><a onClick="location.href='/'" class="saw">Siwha's Meeting'</a></h1>
 <div id="grid">
  <ol>
   <li> <a onClick="location.href='/move/history'" class="saw" id="active">발자취</a></li>
   <li> <a onClick="location.href='/move/member'" class="saw">조직도</a></li>
   <li> <a onClick="location.href='/move/join'" class="saw">가입방법</a></li>
   <li> <a onClick="location.href='/move/noticeboard'" class="saw">게시판</a></li>
  </ol>

 <div id="property">

   <h2>♣발자취</h2>
   <ul>
    <li> 2020.03 창단</li>
    <li> 2020.11 첫 계모임</li>
    <li> 2021.01 계 해체</li>
    <li> 2021.08.07 신안 3인 여행</li>
    <li> 2021.11.07 영덕 4인 여행</li>

   </ul>
   <p>20.11.21 사진</p>
   <img src="/images/201121대부도.jpg" width="60%">
   <p>21.08.08 사진</p>
   <img src="/images/210808image.jpg" width="60%">
   <p>21.11.27 사진</p>
   <div class="banner">
     <img src="/images/1127_1.jpg" width="450">
     <span class="text">울진군 후포면 수산시장</span>
   </div>
   <div class="banner">
    <img src="/images/1127_2.jpg" width="450">
    <span class="text">되게 맛있는 박달대게(from Russia)</span>
  </div>
  <div class="banner">
    <img src="/images/1127_3.jpg" width="450">
    <span class="text">잭다니엘-근데 이제 허니를 곁들인</span>
  </div>
  <div class="banner">
    <img src="/images/1127_4_2.jpg" width="450">
    <span class="text">Siwha Member(진형,건희,오성,병재)</span>
  </div>
  <div class="banner">
    <img src="/images/1127_5.jpg" width="450">
    <span class="text">밤 바다</span>
  </div>
  <div class="banner">
    <img src="/images/1127_6.jpg" width="450">
    <span class="text">-END-</span>
  </div>

   </div>
 </div>
</body>
</html>
