<!doctype html>
<html>
<head>
   <!-- Global site tag (gtag.js) - Google Analytics -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-CLLKMSYL76"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <meta charset="utf-8">
   <meta property="og:title" content="CBJ_Home">
   <meta property="og:description" content="이 사이트 추천이요">
   <meta property="og:image" content="/images/220424.jpg">
   <title>CBJ_JOIN_PAGE</title>

   <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-CLLKMSYL76');
   </script>
   <link rel="stylesheet" href="/css/style.css">

</head>

<body>
   <h1><a onClick="location.href='/'" class="saw">Siwha's Meeting'</a></h1>
   <div id="grid">
   <ol>
      <li> <a onClick="location.href='/move/history'" class="saw" >발자취</a></li>
      <li> <a onClick="location.href='/move/member'" class="saw">조직도</a></li>
      <li> <a onClick="location.href='/move/join'" class="saw" id="active">가입방법</a></li>
      <li> <a onClick="location.href='/move/noticeboard'" class="saw">게시판</a></li>
   </ol>

   <div id="property">
   <h2>★가입방법</h2>
   <p> 오프라인으로 가능, 현재 온라인 신청 불가능</p>
   <p style="margin-top:40px;">Try 시화 가입</p>

   <img src="/images/cf.jpg" width="30%">
   </div>
   </div>
</body>
</html>
