<!doctype html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CLLKMSYL76"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta property="og:title" content="CBJ_Home">
    <meta property="og:description" content="이 사이트 추천이요">
    <meta property="og:image" content="/images/220424.jpg">
    <title>CBJ_HISTORY_PAGE</title>


    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', 'G-CLLKMSYL76');
    </script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <h1><a onClick="location.href='/'" class="saw">Siwha's Meeting'</a></h1>
  <div id="grid">
   <ol>
       <li> <a onClick="location.href='/move/history'" class="saw" >발자취</a></li>
       <li> <a onClick="location.href='/move/member'" class="saw" id="active">조직도</a></li>
       <li> <a onClick="location.href='/move/join'" class="saw" >가입방법</a></li>
       <li> <a onClick="location.href='/move/noticeboard'" class="saw">게시판</a></li>
   </ol>
   <div id="property">
    <h2>조직도</h2>
    <ul>
     <li> ★건희(조직 대표)</li>
     <li> ☆창식(실무 팀장)</li>
     <li> 성근</li>
     <li> 태현</li>
     <li> 진형</li>
     <li> 오성</li>
     <li> 현수</li>
     <li> 병재</li>
     <li> IU</li>
    </ul>

    <p style="margin-top:40px;">hello world</p>

    <img src="/images/v1.jpg" width="70%">
   </div>
  </div>
</body>
</html>
